* {
    box-sizing: border-box;
}
body {
    color:  rgb(25,28,32);
    font-family: 'Courier New', Courier, monospace;
    height: 90vh;
    display: grid;
}
header a {
    font-size: 20px;
}
h1, h2, h3 {
    margin: 0;
}
.top {
    text-align: center;
}
.headline {
    font-size: 26px;
}
.container {
    margin: auto;
}
.text {
    font-size: 18px;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.egypt:hover:before {
    padding: 10px;
    content: "Egypt";
    cursor: pointer;
    background-color: rgb(73, 88, 103);
    color: rgb(216, 219, 226);
    position: absolute;
}
.guate:hover:before {
    padding: 10px;
    content: "Guatemala";
    cursor: pointer;
    background-color: rgb(73, 88, 103);
    color: rgb(216, 219, 226);
    position: absolute;
}
.us:hover:before {
    padding: 10px;
    content: "United States";
    cursor: pointer;
    background-color: rgb(73, 88, 103);
    color: rgb(216, 219, 226);
    position: absolute;
}
a {
    padding: 10px;
    color: rgb(73,88,103);
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
.link:hover {
    background-color: rgb(73, 88, 103);
    color: rgb(216, 219, 226);
}
.icon:hover {
    border: 1px solid rgb(99, 133, 189);
    padding: 9px;
}
.h2 {
  font-size: 24px;
}
.h2:hover {
    background-color: rgb(73, 88, 103);
    color: rgb(216, 219, 226);
}
.icon img {
    vertical-align: middle;
}
.footer {
    text-align: center;
}
