* {
  font-weight: 300;
  font-family: Avenir;
}

html {
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
}

.logo {
  height: 25px;
  width: 25px;
  padding-right: 20px;
  padding-top: 5px;
}

header {
  display: flex;
  align-items: center;
}

header > .nav-link {
  padding-right: 20px;
  font-size: 14px;
}

.container {
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
                        "pic pic pic"
                        "h1 h1 h1"
                        "h2 h2 h2"
                        "button button button";
  margin: 10% auto;
}

a {
  text-decoration: none;
  color: white;
}

.profile-pic {
  grid-area: pic;
  width: 150px;
  height: 200px;
  border: 10px solid white;
  margin: auto;
}

h1 {
  grid-area: h1;
  color:white;
  margin: auto;
  height: 50px;
}

h2 {
  grid-area: h2;
  margin: auto;
  font-style: italic;
  color: white;
  background: transparent;
  height: 50px;
}

.button {
  grid-area: button;
  margin: auto;
  padding: 5px;
  width: auto;
  height: auto;
  font-size: 20px;
  background: transparent;
  color: white;
  letter-spacing: 10px;
  font-style: italic;
  border: 10px solid white;
}

@media (max-width: 860px) {
  .logo {
    width: 25px;
    height: 25px;
  }

  .profile-pic {
    grid-area: pic;
    width: 150px;
    height: 200px;
    border: 10px solid white;
    margin: 50px auto;
  }

  h1 {
    grid-area: h1;
    color:white;
    margin: auto;
  }

  h2 {
    grid-area: h2;
    margin: auto;
    font-style: italic;
    color: white;
    padding-top: 50px;
    background: transparent;
  }

  .button {
    width: auto;
    height: auto;
    font-family: Avenir;
    font-size: 20px;
    background: transparent;
    color: white;
    letter-spacing: 10px;
    font-style: italic;
    border: 10px solid white;
    margin: 50px auto;
    }
}