body {
    margin: 20px 50px;
    color:  rgb(25,28,32);
}
header a{
    font-size: 22px;
}
.headline {
    font-size: 20px;
}
.container {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}
.text {
    font-size: 18px;
}
a {
    padding: 10px;
    color: rgb(73,88,103);
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
}
a:hover {
    background-color: rgb(73, 88, 103);
    color: rgb(216, 219, 226);
}