body {
    font-family: Avenir;
    margin: auto;
    padding: 100px;
}

.container {
    max-width: 700px;
    margin: auto;
}

.name {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.contact {
    text-align: center;
    margin-bottom: 18px;
}

.header {
    font-size: 18px;
    font-weight: bold;
}

.body-text {
    font-size: 16px;
    margin-bottom: 25px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}