* {
    margin: auto;
    font-family: Avenir;
    font-weight: 300;
}

body {
    background-color: transparent;
    background: url(../images/portfolio/background.jpg) no-repeat center center fixed; 
}

a {
    text-decoration: none;
    color: white;
}

.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.logo {
    height: 25px;
    width: 25px;
    display: flex;
    float: left;
}

.nav-link {
    color: white;
    font-size: 14px;
    padding-left: 20px;
}

.image a {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.tabs {
    margin-left: auto;
}

.tabs span {
    border-right: 1px solid darkolivegreen;
    border-left: 1px solid darkolivegreen;
    border-top: 1px solid darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
}

.codepen {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: url(../images/portfolio/background.jpg) no-repeat center center fixed; 
}

.personal {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: url(../images/portfolio/background.jpg) no-repeat center center fixed; 
}

.professional {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: url(../images/portfolio/background.jpg) no-repeat center center fixed; 
}

.image {
    width: 350px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    color:white;
    border-bottom: 3px solid darkolivegreen;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.image img {
    width: 350px;
    border: 4px solid black;
}

.image .pp {
    width: 50%;
    border-radius: 100%;
}

@media (max-width: 750px) {
    .tabs {
        width: 30vw;
        float: left;
        margin: 10px;
    }
    .tabs span {
        width: 27vw;
        display: block;
        border-right: 3px solid darkolivegreen;
        border-left: 1px solid darkolivegreen;
        border-top: 1px solid darkolivegreen;
        border-bottom: 1px solid darkolivegreen;
        border-radius: 5px 0px 0px 5px;
        margin: 10px;
        padding: 5px;
        cursor: pointer;
    }

    .codepen {
        width: 55vw;
    }

    .personal {
        width: 55vw;
    }

    .professional {
        width: 55vw;
    }

    .image {
        margin-bottom: 15px;
    }

    .image img {
        width: 55vw;
        border: 3px solid black;
    }

    .image .pp {
        width: 70%;
    }

}