* {
    margin: auto;
    font-family: Avenir;
    font-weight: 300;
}

body {
    background-color: rgb(38, 38, 38);
}

a {
    text-decoration: none;
    color: white;
}

.header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.logo {
    height: 25px;
    width: 25px;
    display: flex;
    float: left;
}

.nav-link {
    color: white;
    font-size: 14px;
    padding-left: 20px;
}

.image a {
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.tabs {
    margin-left: auto;
}

.tabs span {
    border-right: 1px solid darkolivegreen;
    border-left: 1px solid darkolivegreen;
    border-top: 1px solid darkolivegreen;
    border-bottom: 3px solid darkolivegreen;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
}

.codepen1 {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.personal {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.personal .image {
    width: 600px;
    margin: 20px auto;
    text-align: center;
    border-bottom: 3px solid darkolivegreen;
    color: white;
}

.personal .image img {
    width: 600px;
 }

.professional {
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.professional .image {
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 3px solid darkolivegreen;
    color: white;
    text-align: center;
}

.professional .image img {
    width: 400px;
 }

 .professional .image a {
     font-size: 22px;
     font-weight: 300;
 }

.pen {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 3px solid darkolivegreen;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

@media (max-width: 750px) {
    .tabs {
        width: 30vw;
        float: left;
        margin: 10px;
    }
    .tabs span {
        width: 27vw;
        display: block;
        border-right: 3px solid darkolivegreen;
        border-left: 1px solid darkolivegreen;
        border-top: 1px solid darkolivegreen;
        border-bottom: 1px solid darkolivegreen;
        border-radius: 5px 0px 0px 5px;
        margin: 10px;
        padding: 5px;
        cursor: pointer;
    }

    .codepen1 {
        width: 55vw;
    }

    .personal {
        width: 55vw;
    }

    .professional {
        width: 55vw;
    }

    .image {
        margin-bottom: 15px;
    }

    .image img {
        width: 55vw;
    }

    .image .pp {
        width: 70%;
    }

}