/*****REMOVE MARGIN FROM BODY AND HTML DOC*****/
html, body{
    margin: 0;
  }
  /*****STYLE THE HEADER*****/
  h1{
    margin: 0;
    margin-left: 60px;
    margin-bottom: 10px;
    padding-top: 15px;
    text-align: center;
    font-family: garamond;
  }
  header{
    height: 150px;
    background-color: lightgrey;
  }
  /*****STYLING THE SVG FINISH LINE, RACE TRACK AND A AND G PLAYERS*****/
  #finishLine{
    position: absolute;
    height: 275px;
    width: 100px;
  }
  #raceTrack{
    position: absolute;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    border-top: solid white 75px;
    border-bottom: solid white 75px;
  }
  #playerAvenir{
    position: absolute;
    height: 90px;
    width: 96px;
  }
  #playerGaramond{
    position: absolute;
    height: 190px;
    width: 150px;
  }
  /*****STYLES THE BUTTONS*****/
  .replay{
    margin-top: 20px;
    margin-left: 200px;
  }
  .buttonPanel{
    text-align: center;
  }
  .objective{
    position: absolute;
    margin-top: 20px;
    margin-left: 65px;
  }
  /*****HIDES CLOSE BUTTON FOR THE OBJECTIVE POPUP*****/
  .hidden {
    visibility: hidden;
  }
  .close{
    width: 75px;
    color: darkgrey;
  }
  .winClose{
    width: 75px;
    color: darkgrey;
  }
  /*****POPUP PANEL STYLES*****/
  .popup{
    font-family: Garamond;
    position: absolute;
    width: 50%;
    height: 80%;
    color:black;
    background-color:rgba(255,255,255,.8);
    border: 10px solid grey;
    border-radius: 25px;
    font-size: 14px;
    z-index:1;
    line-height: 3px;
    margin-left: 25%;
    padding-top: 10px;
  }
  .someoneWins {
    text-align: center;
    font-family: Garamond;
    position: absolute;
    width: 60%;
    height: 50%;
    color: gold;
    background-color:rgba(255,255,255,.8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    border: 10px solid grey;
    border-radius: 25px;
    font-size: 14px;
    z-index:1;
    margin-left: 25%;
    padding-left: 10px;
    padding-top: 20px;
  }
  /*****STYLING NAME AND COPYRIGHT*****/
  .footer{
    height: 150px;
    background-color: lightgrey;
    text-align: center;
    font-family: garamond;
    font-size: 22px;
    padding-top: 25px;
  }